
body 
{
	overflow-x: hidden !important;
    /* background-color: rgb(255, 255, 255) !important;  */
    background-color: rgb(0, 0, 0) !important; 
    
    width: 100% !important;
}

.row 
{
    --bs-gutter-x: 0 !important;
}

@media screen and (min-width: 724px) and (max-width: 768px) {
  .custom-iphone-col {
    flex: 0 0 auto !important;
    width: 41.66666667% !important;
  }
}

@media screen and (max-width: 723px) {
  .d-sm-space-none {
      display: none!important;
  }
}

@media (min-width: 1920px) {
  .d-xxl-space-none {
      display: none!important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .d-xxl-space-none {
    display: block !important;
    flex: 0 0 auto !important;
    width: 8.33333333% !important;
  }
}

@media screen and (min-width: 1920px) {
  .col-xxl-founders {
    display: block !important;
    flex: 0 0 auto !important;
    width: 41.66666667% !important;
  }
}

@media screen and (max-width: 1919px) {
  .col-xxl-founders {
    display: block !important;
    flex: 0 0 auto !important;
    width: 80% !important;
  }
}

@media screen and (min-width: 1920px) {
  .col-xxl-artists {
    display: block !important;
    flex: 0 0 auto !important;
    width: 58.33333333% !important;
  }
}

@media screen and (max-width: 1919px) {
  .col-xxl-artists {
    display: block !important;
    flex: 0 0 auto !important;
    width: 80% !important;
  }
}

.container-fluid 
{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.text-responsive {
  font-size: calc(100% + 1vw + 1vh) !important;
}

.blue-text{
  color: #76bbff;
  font-family: 'Montserrat', sans-serif;
  font-weight: medium;
  font-size: 25px;
}

.team-roles {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.members-background{
  background-color: #020f1f;
}

.our-team {
    display: block;
    border-radius: 10px;
    border: 2px solid;
    border-color: #3C5F82;
    padding: 20px 0 40px;
    margin-bottom: 30px;
    background-color: #0A0A0A;
    text-align: center !important;
    overflow: hidden;
    position: relative;
    max-width: 320px;
    min-width: 150px;
    /* min-width: 320px; */
    /* width: 320px; */
  }

  .artists {
    border-color: #464646 !important;
  }

  .our-team .team-content {
    display: inline-block;
    width: 80%;
    height: 120px;
  }

  .our-team .title {
    display: block;
    /* font-size: 17.5px; */
    font-size: 19px;
    color: #b6b6b6;
    text-transform: capitalize;
  }

  .our-team .name {
    height: 30px;
    margin-bottom: 20px;
  }
  
  @media screen and (min-width: 724px) and (max-width: 946px) {
    .nome-acapo {
      font-size: 19px !important;
    }
  }

  @media screen and (max-width: 473px), screen and (min-width: 576px) and (max-width: 591px){
    .nome-acapo {
      height: 60px !important;
    }
  }

  @media screen and (max-width: 327px){
    .nome2-acapo {
      height: 60px !important;
    }
  }

  .our-team .picture {
    display: inline-block;
    max-height: 200px;
    max-width: 200px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.8);
  }
 
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  }
  

  #headerBG {
    position: relative;
    display: inline;
    width: 100vw;
}
  #steamLogo {
      position:absolute;
      left:23%;
      top:46%;
      max-width: 10%;
  }
  #itchLogo {
      position:absolute;
      left:77%;
      top:46%;
      max-width: 10%;
      transform:translate(-100%,0%);
  }


.hoverContent {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.hoverContent .hoverContent-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s
}

.hoverContent:hover .hoverContent-overlay {
    opacity: 1
}

.hoverContent:hover .hoverContent-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.fadeIn-bottom {
    top: 80%
}

