
body 
{
	overflow-x: hidden !important;
    background-color: black !important; 
    max-width: 100% !important;
}

.row {
    --bs-gutter-x: 0 !important;
}

.hoverContent {
    position: relative;
    margin: auto;
    overflow: hidden
}

.hoverContent .hoverContent-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s
}

.hoverContent:hover .hoverContent-overlay {
    opacity: 1
}

/* img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px
} */

.hoverContent:hover .hoverContent-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.fadeIn-bottom {
    top: 80%
}

